@using Microsoft.AspNetCore.Mvc.TagHelpers
@model IEnumerable<WebApp.Models.Amenity.AmenityViewModel>

@{
    ViewData["Title"] = "Удобства номеров";
    Layout = "_Layout";
}

<section class="breadcrumb-area overlay-dark-2 bg-3" style="background-image: url('@Url.Content("~/images/bg/3.jpg")');">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="breadcrumb-text text-center">
                    <h2>@ViewBag.Title</h2>
                    <p>Панель администрирования</p>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="container pt-30 pb-30">
    <div class="input-group mb-3">
        <form asp-action="Index" method="get">
            <input type="text" class="form-control" name="searchString" placeholder="Найти по названию">
            <div class="input-group-append">
                <button type="submit" class="btn btn-outline-secondary">Найти</button>
            </div>
        </form>
    </div>
    <a href="@Url.Action("Create", "Amenity")" class="btn btn-primary">Создать</a>
    <table class="table mt-4">
        <thead>
        <tr>
            <th>Название</th>
            <th>Описание</th>
            <th>Операции</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Title</td>
                <td>@item.Description</td>
                <td>
                    <a href="@Url.Action("Edit", "Amenity", new { id = item.Id })" class="btn btn-primary">Редактировать</a>
                    <a href="@Url.Action("DeleteConfirmation", "Amenity", new { id = item.Id })" class="btn btn-danger">Удалить</a>
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>